//Código da primeira seção

.section{
  background-image: url(../../../public/bg/bg_consultoria.webp);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:right;
  margin-top: 28px;
  height: calc(100vh - 25px);
  padding-top: 20px;
}

.section__titulo {
  color: var(--secondary0);
  font-weight: 700;
  font-size: 48px;
  line-height: 109.5%;
  letter-spacing: -0.065em;
  opacity: .5;

}

.section__subtitulo{
  font-weight: 700;
  font-size: 20px;
  line-height: 109.5%;
  text-align: right;
  letter-spacing: 0.015em;
  color: var(--secondary0);
  opacity: .5;
}


//Código da segunda seção
.section2__left {
  width: 25%;
    @media (max-width: 991px) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.section2__left__titulo{
  font-weight: 700;
  font-size: 48px;
  line-height: 109.5%;
  letter-spacing: -0.065em;
  color: var(--secondary11);
  @media (max-width: 540px) {
    width: 100%;
  }

}

.section2__left__subtitulo{
  font-weight: 700;
  font-size: 20px;
  line-height: 109.5%;
  letter-spacing: 0.015em;
  color: var(--secondary11);

}

.section2__left__divisor {
  display: block;
  height: 3px;
  background-color: var(--primary11);
  width: 100px;
}

.lista {
  text-align: left;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  & li {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
  }
}

.lista__texto {
  color: var(--secondary11);
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  & b {
    font-size: inherit;
    font-weight: 800

  }
}
.section__right {
  display: flex;
  flex-direction: column;
    @media (max-width: 540px) {
    width: 100%;
  }
}
.lista__icon {
  width: 28px;
}