@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@300&display=swap');

:root {
 
  --primary3: #ADC1B4;

  --secondary0: #ECEAEA;
  --secondary1: #CECCCC;
  --secondary2: #C1B8B8;
  --secondary3: #B6A4A4;;
  --secondary4: #AB9494;
  --secondary5: #A28584;
  --secondary7: #896362;
  --secondary8: #7B5351;
  --secondary10: #5C3534;
  --secondary13: #220E0D;
  
  --fontDisplay: 'Quicksand', sans-serif;
  --fontDefault: 'Montserrat', sans-serif;
}


body {
  background-color: var(--secondary1);
  color: var(--secondary0);
  font-family: var(--fontDefault);
}