.main {
  position: relative;
  opacity: 0;
  filter: blur(10px);
  transition: opacity 2s ease-in-out, filter 2s ease-in-out;
  & a {
    color: black;
    text-decoration: none;
  }
}
.mainVisivel {
  position: relative;
  opacity: 1;
  filter: blur(0px);
  transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}

.header {
  margin-top: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  & img{
    width: 10em;
    height: 10em;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
  }
  & h1{
    font-family: var(--fontDisplay);
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--secondary13);
    padding: 0.3em 0.6em;
  }
}

.shakingElement {
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding: 2em;
  max-width: 480px;
  & .shake {
    animation: shake 0.5s;

    @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
  }
  & li{
    background-color: var(--primary1);
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 10em;
    margin: 1.4em 0;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    & a{
      color: var(--secondary13);
      font-family: var(--fontDefault);
      font-size: 18px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      padding: 10px;
      text-decoration: none;
    }
  }
}

