.whatsappButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 80px;
  background-color: #25d366;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #ddd;
  transition: all 0.2s ease-in-out;
  & img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
  & a {
    text-decoration: none;
    display: flex;
    gap: 2px;
    align-items: center;
    color: var(--secondary0);
    font-weight: 700;
  }
  &span {
    font-size: 12px;
    color: #fff;
    text-align: center;
  }
  & :hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}